.cart-icon {
    width: 45px;
    height: 45px;
    position: relative;
    margin-bottom: 4.5px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  
    .shopping-icon {
      width: 24px;
      height: 24px;
    }
  
    .item-count {
      position: absolute;
      left: 1.15rem;
      font-size: 10px;
      font-weight: bold;
      bottom: 12px;
    }

    .item-count-large{
      left: 1rem;
    }

    .item-count-larger{
      left: 0.87rem;
    }
  }
  