.header {
  height: 70px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;

  .logo-container {
    height: 100%;
    width: 70px;
  }
  .logo {
    height: 100%;
    width: 70px;
  }

  .options {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    .option {
      padding: 10px 15px;
      cursor: pointer;
    }
  }
}

@media only screen and (max-width: 430px) and (orientation: portrait) {
  .header {
    height: 2em;
    margin-bottom: 0.5em;

    .logo-container {
      width: 2em;
    }
    .logo {
      width: 100%;
    }
    .options {
      width: 75%;
      .option {
        padding: 0px 0.5em;
      }
    }
  }
}
