body {
    font-family: 'Open Sans Condensed', sans-serif;
    padding: 20px 60px;

}

a {
    text-decoration: none;
    color: black;
}

* {
    box-sizing: border-box;
}

@media only screen and (max-width: 395px) and (orientation: portrait) {
    body {
        padding: 1em;
    
    }
  }